---
layout: page
title: Research Student seminars 
subtitle: A monthly series of seminars by research students for research students
---


<p></p>

<div id="wrapper" class="clear">
    <div id="left50">
        <h3><strong>February seminar</strong></h3>
        <p></p>
        <strong>How NOT to write a thesis</strong>
        <p></p>
        Dr. Paul Cairns (HCI group CS@UoY)
        <p></p>
        3:30-4:30pm, Thursday, 18th February
        <p></p>
        CSE 266-7
    </div>  
    <div id="right50">
        <h3><strong>March seminar</strong></h3>
        <p></p>
        <strong>TBC</strong>
        <p></p>
        <br />
        <p></p>
        <br />
        <p></p>
        <br />
    </div>
</div>

<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
	  <h5 class="post-title">{{ post.title }}</h5>
	
	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}  
    </a>

    <p class="post-meta">
      Posted on {{ post.date | date: "%B %-d, %Y" }}
    </p>
  
    <div class="post-entry">
      {{ post.content | truncatewords: 50 | strip_html | xml_escape}}
	  <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[Read&nbsp;More]</a>
    </div>
  
   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
