---
layout: default
---


<header class="header-page">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
	  <div class="page-heading">
	    <h2>{{ page.title }}</h2>
	    {% if page.subtitle %}
	    <hr class="small">
	    <span class="page-subheading">{{ page.subtitle }}</span>
	    {% endif %}
	  </div>
    </div>
  </div>
</header>

<article>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
	  {{ content }}
	</div>
  </div>
</article>

<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    <ul class="pager blog-pager">
      {% if page.previous.url %}
      <li class="previous">
        <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Previous</a>
      </li>
      {% endif %}
      {% if page.next.url %}
      <li class="next">
        <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next &rarr;</a>
      </li>
      {% endif %}
    </ul>
  </div>
</div>

{% if page.comments %}
<div class="row disqus-comments">
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    {% include disqus.html %}
  </div>
</div>
{% endif %}
